html body .pizza-builder-panels .topping-selection .quantity-and-confirm .quantity-container p, html body .pizza-builder-panels .topping-selection .quantity-and-confirm .quantity-container .quantity-button button, html body .pizza-builder-panels .topping-selection .quantity-and-confirm .pizza-name-field-container input, html body .pizza-builder-panels .topping-selection .quantity-and-confirm .pizza-name-field-container label, html body .pizza-builder-panels .topping-selection .selection-list .selection-list-options .selection-list-option label, html body .pizza-builder-panels .topping-selection .selection-list .selection-list-header p, html body .pizza-builder-panels .topping-selection .topping-selection-header p, html body .pizza-builder-panels .pizza-display .size-indicator p, html body .pizza-builder-panels .topping-selection .topping-selection-header .topping-category-buttons .topping-category-button-active button, html body .pizza-builder-panels .topping-selection .topping-selection-header .topping-category-buttons .topping-category-button button, html body .pizza-builder-panels .topping-selection .quantity-and-confirm .submit-pizza-button button, html body .navigation-container .navigation-button button {
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

html body .pizza-builder-panels .topping-selection .quantity-and-confirm .submit-pizza-button button, html body .navigation-container .navigation-button button {
  height: 2rem;
  width: 10rem;
  line-height: 1.25rem;
  text-align: center;
}

html body .pizza-builder-panels .topping-selection .topping-selection-header .topping-category-buttons .topping-category-button-active button, html body .pizza-builder-panels .topping-selection .topping-selection-header .topping-category-buttons .topping-category-button button {
  height: 1.625rem;
  width: 6.5625rem;
  border-radius: 1rem;
  text-align: center;
  line-height: normal;
}

html body .pizza-builder-panels .topping-selection .quantity-and-confirm .submit-pizza-button button, html body .navigation-container .navigation-button button {
  background-color: #d1221f;
  border: 1px solid #d1221f;
  color: #ffffff;
  transition: 0.25s ease-out;
}
html body .pizza-builder-panels .topping-selection .quantity-and-confirm .submit-pizza-button button:hover, html body .navigation-container .navigation-button button:hover {
  background-color: #f99d2e;
  border: 1px solid #f99d2e;
}

html body .pizza-builder-panels .topping-selection .topping-selection-header .topping-category-buttons .topping-category-button button {
  background-color: transparent;
  border: 2px solid #d1221f;
  color: #d1221f;
  transition: 0.25s ease-out;
}
html body .pizza-builder-panels .topping-selection .topping-selection-header .topping-category-buttons .topping-category-button button:hover {
  border: 2px solid #f99d2e;
  color: #f99d2e;
}

html body .pizza-builder-panels .topping-selection .topping-selection-header .topping-category-buttons .topping-category-button-active button {
  background-color: #d1221f;
  border: 2px solid #d1221f;
  color: #ffffff;
  transition: 0.25s ease-out;
}
html body .pizza-builder-panels .topping-selection .topping-selection-header .topping-category-buttons .topping-category-button-active button:hover {
  background-color: #f99d2e;
  border: 2px solid #f99d2e;
}

html {
  height: 100%;
}
html body {
  font-size: 16px;
  margin: 0;
  display: flex;
  flex-flow: column;
  height: 100%;
}
html body p {
  margin: 0;
}
html body .navigation-container {
  border-bottom: 1px solid #000000;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.9);
  display: flex;
  height: 6.25rem;
  flex: 0 1 6.25rem;
}
html body .navigation-container .navigation-branding-container {
  height: inherit;
  width: 100%;
  display: flex;
}
html body .navigation-container .navigation-branding-container p {
  align-content: center;
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Krona One", sans-serif;
  font-size: 2.25rem;
  font-weight: 400;
  justify-content: flex-end;
  line-height: 45px;
  padding: 20px 0 20px 60px;
  position: relative;
  text-align: center;
}
html body .navigation-container .navigation-branding-container img {
  display: flex;
  height: 3.75rem;
  position: relative;
  top: 1.25rem;
  width: 60px;
}
html body .navigation-container .navigation-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 0 3rem 0 0;
}
html body .pizza-builder-panels {
  display: flex;
  width: 100%;
  flex: 1 1 auto;
}
html body .pizza-builder-panels .pizza-display {
  width: 50%;
  display: flex;
  flex-flow: column;
}
html body .pizza-builder-panels .pizza-display .size-indicator {
  display: flex;
  width: 4rem;
  height: 4rem;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: #f99d2e;
  align-self: flex-end;
  margin: 4rem 4rem 0 0;
}
html body .pizza-builder-panels .pizza-display .size-indicator p {
  display: flex;
  width: 4rem;
  height: 4rem;
  justify-content: center;
  font-size: 2rem;
  line-height: normal;
  align-items: center;
}
html body .pizza-builder-panels .pizza-display .pizza-image-container {
  height: auto;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
html body .pizza-builder-panels .pizza-display .pizza-image-container img {
  width: 100%;
  height: auto;
  max-width: 42.6875rem;
  max-height: 23.125rem;
  position: absolute;
}
html body .pizza-builder-panels .topping-selection {
  width: 50%;
  display: flex;
  flex-flow: column;
  border-left: 1px solid #000000;
}
html body .pizza-builder-panels .topping-selection .topping-selection-header {
  flex: 0 1 auto;
  width: -webkit-fill-available;
  margin: 3rem 4rem 2.62rem 4rem;
  display: flex;
  flex-flow: column;
}
html body .pizza-builder-panels .topping-selection .topping-selection-header p {
  font-size: 1.5rem;
  line-height: normal;
  height: 4.625rem;
  align-items: center;
  display: flex;
}
html body .pizza-builder-panels .topping-selection .topping-selection-header .topping-category-buttons {
  display: flex;
  flex-wrap: wrap;
}
html body .pizza-builder-panels .topping-selection .topping-selection-header .topping-category-buttons .topping-category-button {
  display: flex;
  margin: 0 1rem 1rem 0;
}
html body .pizza-builder-panels .topping-selection .topping-selection-header .topping-category-buttons .topping-category-button-active {
  display: flex;
  margin: 0 1rem 1rem 0;
}
html body .pizza-builder-panels .topping-selection .selection-list {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  border-top: 1px solid #000000;
}
html body .pizza-builder-panels .topping-selection .selection-list .selection-list-header {
  display: flex;
  width: 100%;
  background-color: #f99d2e;
  height: 4rem;
  align-items: center;
  padding: 0 0 0 4rem;
}
html body .pizza-builder-panels .topping-selection .selection-list .selection-list-header p {
  font-size: 1.5rem;
  line-height: normal;
  text-align: center;
}
html body .pizza-builder-panels .topping-selection .selection-list .selection-list-options {
  padding: 0 4rem;
}
html body .pizza-builder-panels .topping-selection .selection-list .selection-list-options .selection-list-option {
  height: 5rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000000;
  cursor: pointer;
}
html body .pizza-builder-panels .topping-selection .selection-list .selection-list-options .selection-list-option input[type=radio] {
  position: absolute;
  opacity: 0;
}
html body .pizza-builder-panels .topping-selection .selection-list .selection-list-options .selection-list-option input[type=radio] + .selection-list-option-label::before {
  content: "";
  background: transparent;
  border-radius: 100%;
  border: 2px solid #000000;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  margin-right: 2rem;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 0.25s ease-out;
}
html body .pizza-builder-panels .topping-selection .selection-list .selection-list-options .selection-list-option input[type=radio]:checked + .selection-list-option-label::before {
  background-color: #d1221f;
}
html body .pizza-builder-panels .topping-selection .selection-list .selection-list-options .selection-list-option input[type=checkbox] {
  position: absolute;
  opacity: 0;
}
html body .pizza-builder-panels .topping-selection .selection-list .selection-list-options .selection-list-option input[type=checkbox] + .selection-list-option-label::before {
  content: "";
  background: transparent;
  border: 2px solid #000000;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  margin-right: 2rem;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 0.25s ease-out;
}
html body .pizza-builder-panels .topping-selection .selection-list .selection-list-options .selection-list-option input[type=checkbox]:checked + .selection-list-option-label::before {
  background-color: #d1221f;
}
html body .pizza-builder-panels .topping-selection .selection-list .selection-list-options .selection-list-option label {
  font-size: 1.5rem;
  line-height: normal;
  cursor: pointer;
}
html body .pizza-builder-panels .topping-selection .quantity-and-confirm {
  flex: 0 1 5rem;
  border-top: 1px solid #000000;
  display: flex;
}
html body .pizza-builder-panels .topping-selection .quantity-and-confirm .pizza-name-field-container {
  display: flex;
  flex-flow: column;
  margin: 0 0 0 1.87rem;
  flex: 0 1 45%;
}
html body .pizza-builder-panels .topping-selection .quantity-and-confirm .pizza-name-field-container label {
  height: 1.5rem;
  display: flex;
  align-items: center;
}
html body .pizza-builder-panels .topping-selection .quantity-and-confirm .pizza-name-field-container input {
  border: 1px solid #000000;
  height: 2.5rem;
  display: flex;
  padding: 0 1.25rem;
}
html body .pizza-builder-panels .topping-selection .quantity-and-confirm .quantity-container {
  display: flex;
  flex: 1 1 100%;
  align-items: center;
  justify-content: flex-end;
  margin: 0 3rem 0 0;
}
html body .pizza-builder-panels .topping-selection .quantity-and-confirm .quantity-container .quantity-button {
  display: flex;
}
html body .pizza-builder-panels .topping-selection .quantity-and-confirm .quantity-container .quantity-button button {
  width: 2rem;
  height: 2rem;
  border: 1px solid #000000;
  border-radius: 100%;
  background: transparent;
  font-size: 1.5rem;
  line-height: normal;
}
html body .pizza-builder-panels .topping-selection .quantity-and-confirm .quantity-container p {
  display: flex;
  line-height: normal;
  margin: 0 1rem;
}
html body .pizza-builder-panels .topping-selection .quantity-and-confirm .submit-pizza-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 0 3rem 0 0;
  flex: 1 1 auto;
}
@media (max-width: 1334px) {
  html body .navigation-container {
    width: 100%;
  }
  html body .pizza-builder-panels {
    flex-flow: column;
  }
  html body .pizza-builder-panels .pizza-display {
    width: 100%;
    height: 17.5rem;
    flex-flow: row;
  }
  html body .pizza-builder-panels .pizza-display .size-indicator {
    margin: 0 0 0 5%;
    align-self: center;
    justify-content: center;
    height: 3.25rem;
    width: 3.25rem;
  }
  html body .pizza-builder-panels .pizza-display .pizza-image-container img {
    max-width: 27.68919rem;
    max-height: 15rem;
  }
  html body .pizza-builder-panels .topping-selection {
    width: 100%;
    flex: 1 1 auto;
  }
  html body .pizza-builder-panels .topping-selection .topping-selection-header {
    margin: 3rem 5rem;
  }
}
@media (max-width: 540px) {
  html body .pizza-builder-panels .pizza-display .size-indicator {
    margin: 0;
  }
}
.hide {
  display: none !important;
}/*# sourceMappingURL=pizza_builder.css.map */